OpenSSL-for-iPhone
ios-cmake
libvncserver
sCloudRDP.xcodeproj/xcuserdata/*.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
sCloudRDP.xcodeproj/project.xcworkspace/xcuserdata/
iSSH2*
sCloudRDP.xcodeproj/ios_universal
scripts/export
ardp-lib-ios/libs_*
sCloudRDP.xcodeproj/libs_combined_*
sCloudRDP.xcodeproj/ios_universal_*
**/.DS_Store
